.page {
  font-family: "Inter", "Arial", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  color: white;
  width: 100%;
  min-height: 100vh;
}
