.profile__heading {
  display: flex;
  align-items: flex-end;
  width: 415px;
}

@media screen and (max-width: 720px) {
  .profile__heading {
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__heading {
    max-width: 224px;
  }
}
