.profile__heading {
  display: flex;
  align-items: flex-end;
  width: 415px;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .profile__heading {
    justify-content: center;
    width: 390px;
  }
}

@media screen and (max-width: 415px) {
  .profile__heading {
    width: 224px;
  }
}
