.profile {
  max-width: 880px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 50px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .profile {
    max-width: 750px;
  }
}
@media screen and (max-width: 850px) {
  .profile {
    flex-direction: column;
    max-width: 650px;
  }
}

@media screen and (max-width: 720px) {
  .profile {
    max-width: 320px;
    margin-top: 42px;
  }
}
