.logo {
  padding-bottom: 41px;
  max-width: 173px;
}

@media screen and (max-width: 752px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    max-width: 126px;
  }
}
