.popup__close-button {
  background-image: url("../../../images/Close-Icon.svg");
  max-width: 40px;
  min-height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin-left: 430px;
  rotate: 90deg;
  margin-top: 0;
  cursor: pointer;
}

.popup__close-button:hover {
  background-image: url("../../../images/Close-Icon-hovered.svg");
}

@media screen and (max-width: 650px) {
  .popup__close-button {
    max-width: 26px;
    min-height: 26px;
    background-size: cover;
    margin-bottom: 14px;
    margin-left: 256px;
  }
}
