.gallery__like-button {
  background-color: transparent;
  border: none;
  background-image: url("../../../images/Heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-width: 21px;
  min-height: 19px;
  align-self: center;
  cursor: pointer;
  padding: 0;
}

.gallery__like-button:hover {
  background-image: url("../../../images/Heart-Hovered.svg");
}

.gallery__like-button:active {
  background-image: url("../../../images/Like-button_active.svg");
}
