.footer {
  max-width: 880px;
  margin: auto;
  color: #545454;
}

@media screen and (max-width: 1000px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 282px;
  }
}
